/* container */

.container{
    width:300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* form style */

form{
    text-align: center;
}

/* label style */
label{
    display: block;
    margin-bottom: 5px;
}

/* Input style */
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Button Style */

.button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: noe;
    border-radius: 3px;
    cursor: pointer;
}

.button :hover{
    background-color: #45a049;
}